*{
    margin: 0;
    padding: 0;
}


body{
    min-height: 100vh;
    background-image: url(images/body_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Consolas', 'Fira Code', 'Source Code Pro', monospace;
}


nav{
    background-color: rgba(63, 61, 57, 0.1);
    backdrop-filter: blur(10px);
}


nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


nav li{
    height: 50px;
    background-color: #17181a;
    margin: 5px;
    border-radius: 25px;
    border: 1px solid #b6a589;
}


nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #b6a589;
    border-radius: 25px;
}


nav a:hover{
    background-color: rgba(255, 255, 255, 0.15);
}


nav li:first-child{
    margin-right: auto;
}


.dropdown-menu {
    display: none;
    position: absolute;
    background-color: rgba(63, 61, 57, 0.1);
    backdrop-filter: blur(10px);
    list-style: none;
    padding: 0;
    margin: 5px;
}


.dropdown-menu li a {
    padding: 10px 20px;
    display: block;
    color: #b6a589;
    white-space: normal;
    padding: 10px 25px;
    text-align: left;
    word-break: break-word;
}


.dropdown-menu li a:hover {
    background-color: rgba(255, 255, 255, 0.15);
}


.dropdown:hover .dropdown-menu {
    display: block;
}


.dropdown {
    position: relative;
}
