{% extends "main.html" %}

{% block title %}Contact - Markfolio{% endblock %}

{% block content %}
<div class="terminal">
    <div class="terminal-header">
        <span class="dot red"></span>
        <span class="dot yellow"></span>
        <span class="dot green"></span>
    </div>
    <div class="terminal-body">
        <p><span class="guest-prompt">[guest@markfolio]$ </span>Here's my contacts!</p>
        <p><span class="guest-prompt">[guest@markfolio]$ </span><a href="https://www.facebook.com/mrkchrstnsbcj" target="_blank">Facebook</a></p>
        <p><span class="guest-prompt">[guest@markfolio]$ </span><a href="https://github.com/nug3tsss" target="_blank">Github</a></p>
        <p><span class="guest-prompt">[guest@markfolio]$ </span>+09839475883</p>
        <p><span class="guest-prompt">[guest@markfolio]$ </span>Looking forward to connecting with you!</p>
    </div>
</div>
{% endblock %}