<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="{% block body_class %}{% endblock %}">
    <nav>
        <ul>
            <li><a href="/">Markfolio</a></li>
            <li><a href="/profile">About me</a></li>
            <li><a href="/works">My works</a></li>
            <li><a href="/contact">Contact Me</a></li>
        </ul>
    </nav>

    {% block content %}

    {% endblock %}
</body>
</html>