{% extends "main.html" %}

{% block title %}Profile - Markfolio{% endblock %}

{% block content %}
<div class="terminal">
    <div class="terminal-header">
        <span class="dot red"></span>
        <span class="dot yellow"></span>
        <span class="dot green"></span>
    </div>
    <div class="terminal-body neofetch">
    <img src="{{ url_for('static', filename='images/profile_img.jpg')}}" alt="Profile Image" class="profile-img">
        <div class="info">
            <p class="user">mark@markfolio</p>
            <p>---------------</p>
            <p><span class="category">Name: </span>Mark Christian S. Abucejo</p>
            <p><span class="category">Section: </span>BS CPE 2-3</p>
            <p><span class="category">Subject: </span>Data Structures and Algorithms</p>
            <p><span class="category">Hobbies: </span>Gaming, drawing, music, programming, reading</p>
            <p class="category" style="font-style: italic;">"A person is smart. People are dumb." - Agent K</p>
        
            <div class="color-palette">
                <div class="color-block" style="background-color:#e9ddad;"></div>
                <div class="color-block" style="background-color:#03252f;"></div>
                <div class="color-block" style="background-color:#c8ccd5;"></div>
                <div class="color-block" style="background-color:#213e50;"></div>
                <div class="color-block" style="background-color:#927f7b;"></div>
                <div class="color-block" style="background-color:#e8d7bd;"></div>
                <div class="color-block" style="background-color:#79888b;"></div>
                <div class="color-block" style="background-color:#c0baaa;"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}