{% extends "main.html" %}

{% block title %}Profile - Markfolio{% endblock %}

{% block content %}
<div class="terminal">
    <div class="terminal-header">
        <span class="dot red"></span>
        <span class="dot yellow"></span>
        <span class="dot green"></span>
    </div>
    <div class="terminal-body">
        <p><span class="guest-prompt">[guest@markfolio]$ </span>Hello! My name is Mark Christian S. Abucejo</p>
        <p><span class="guest-prompt">[guest@markfolio]$ </span>I'm currently enrolled in BS CPE 2-3...</p>
        <p><span class="guest-prompt">[guest@markfolio]$ </span>...for the subject Data Structures and Algorithms</p>
        <p><span class="guest-prompt">[guest@markfolio]$ </span>My favorite saying is...</p>
        <p><span class="guest-prompt">[guest@markfolio]$ </span>Pleasure to meet you!</p>
    </div>
</div>
{% endblock %}