{% extends "main.html" %}

{% block title %}Works - Markfolio{% endblock %}

{% block content %}
<div class="terminal">
    <div class="terminal-header">
        <span class="dot red"></span>
        <span class="dot yellow"></span>
        <span class="dot green"></span>
    </div>

    <div class="terminal-body">
        <p><span class="guest-prompt">[guest@markfolio]$ </span><a href="/works">Go back to My Works</a></p>
        <p><span class="guest-prompt">[guest@markfolio]$ </span>Convert String to Uppercase</p>

        <form action="/works/to-uppercase" method="post">
            <span class="guest-prompt">[guest@markfolio]$ </span><label for="inputString">Enter a string:</label>
            <input type="text" id="inputString" name="input_string">
            <input type="submit" value="Convert">
        </form>

        {% if result %}
        <p><span class="guest-prompt">[guest@markfolio]$ </span>Result: {{ result }}</p>
        {% endif %}
    </div>
</div>
{% endblock %}